/*DO FONTS LATER ON A LOCAL SERVER*/

body {
	background-color: #000033;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: ghostwhite;
	font-family: 'Urbanist', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	animation: link-hover 0.4s;
	animation-fill-mode: forwards;
}

.author-note {
	margin-bottom: 5px;
	display: inline;
}

/* Nav portion */
#nav {
	background-color: #4848FF;
	width: 94%;
	min-width: 500px;
	display: flex;
	justify-content: space-between;
	position: sticky;
}

#nav a {
	text-decoration: none;
	color: white;
	animation: none;
	padding:  auto;
}

.nav-button {
	width: 10%;
	min-width: fit-content;
	padding: 5px;
	background-color: #2020aa;
	text-align: center;
	display: inline-block;
	position: relative;
	
}

.nav-button:hover {
	background-color: deepskyblue;
}

.nav-button:hover .nav-content {
	display:  block;
}



.nav-content {
	display: none;
	position: absolute;
	width: 25vw;
	
	overflow: auto;
	margin:  0;
	top:  1.9em;
	left: 0;
	box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4);
	color: black;
}

.igcse {
	width: 40vw;
	max-height: 300px;
	z-index: 3;
}

.nav-content a {
	text-decoration: none;
	text-align: left;
	background-color: floralwhite;
	display: block;
	animation: none;
	padding:  3px 0 3px 5px;
	z-index: 1;
	color: black !important;
}

.nav-content a:hover {
	text-decoration: none;
	background-color: #ddd;
}

.nav-forum {
	background-color: darkred;
}

.nav-forum:hover {
	background-color: red;
}

.nav-home {
	background-color: darkgreen;
}

.nav-home:hover {
	background-color: limegreen;
}

/*End of nav section */
/*========================================*/
/*Start of body 2*/

#body2 {
	width: 94%;
	min-height: 10px;
	min-width: 500px;
	background-color: whitesmoke;
	color:  black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	margin: 10px;
	width:  90%;
	background-color: #4848FF;
	text-align: center;
}

hr {
	background-color: black;
	border-color: black;
	width:  90%;
}

.intro {
	display: flex;
	width:  90%;
	font-size: 18px;
}

.intro .text, .intro .key-concepts {
	width: 50%;
}

.intro .key-concepts {
	background-color: #111;
	color:  whitesmoke;
	padding-left:  0.5em;
}

.intro .key-concepts ul {
	list-style-type: none;
}

.intro .key-concepts li::before {
	content: "#  ";
	font-weight: bold;
	color:  limegreen;
}

.content {
	border:  solid 1px;
	width:  90%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
}

.content h3{
	width: 100%;
	text-align:  center;
	color:  darkred;
	font-size: 2.1em;
	
}

.inner-content {
	width: 60%;
	padding-left: 5%;
	font-size: 1.2em;
}

.inner-content ul {
	color:  red;
	list-style-type: square;
}

.inner-content ul p{
	color: black;
}

.inner-content ol p{
	font-weight: normal;
}

.inner-content .box {
	background-color: lightgray;
	border-style: double;
}

.d ol {
	color: darkred;
	font-size: 1.3em;
	font-weight: bold;
}

.d ol p {
	font-size: 0.77em;
	font-weight: normal;
	color: black;
}

.d .box {
	display: flex;
}

.side-bar {
	position: absolute;
	width: 30%;
	height: 92%;
	background-color: rgba(135,206,235,0.9);
	opacity: 0.9;
	right:  0%;
	top:  120px;
	margin-right: 5px;
	padding:  5px;
	display: flex;
	flex-direction: column;
	
	min-width: 320px;
	font-size: 1em;
}

.side-bar .yellow-box {
	width: 98%;
	background-color: yellow;
	text-align: center;
	padding: 5px 0 5px 5px;
	font-size: 1.3em;
	font-weight: bold;
	color: darkred;
}

.side-bar .side-bar-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	font-size: 1.1em;
}

.side-bar .yellow-box p {
	font-size:  1em;
	color: black;
	font-weight: normal;
}

.side-bar h4 {
	color: darkblue;
	font-size: 1.2em;
	font-weight: bold;
}

@media screen and (max-width: 1150px) {
	.side-bar {
		position: static;
		margin-left: 5%;
		margin-top: 5px;
		width:  90%;
		display: flex;
		align-items: center;
	}

	.side-bar .side-bar-content {
		display: flex;

		flex-wrap: wrap;
		
		width: 80%;
	}

	.side-bar .side-bar-content label, img {
		margin: 5px auto 5px auto;
		paddin: 5px;
	}

	.inner-content {
		width: 90%;
	}
}

.detail-note {
	width: 100%;
	text-align: center;
}

.page-step {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top:  15px;
	margin-bottom:  15px;
}

.page-step div {
	display: flex;
	align-items: center;
}

.page-step .prev, .page-step .next {
	padding:  5px;
	font-size: 1.5em;
}

.link-title {
	color: whitesmoke;
	font-size: 1.3em;
	background-color: #005;
	width: 90%;
	border:  solid 1px #005;
}

.link-list {
	width: 90%;
	display: grid;
	grid-template-columns: 33% 33% auto;
	border: solid 1px;
	margin-bottom: 15px;
}

.link-list a {
	margin: 3px;
}



@keyframes link-hover {
	100% {
		color: #28a;
		text-decoration: underline;
	}
}